<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Printing Price</title>
    <link rel="stylesheet" href="./dist/output.css">
</head>

<body>
    <div id="app" class="flex items-center justify-center h-screen bg-gray-300 dark:bg-gray-800">
        <div
            class="block max-w-sm p-6 bg-white border border-gray-400 rounded-lg shadow-sm dark:border-gray-500 dark:bg-gray-900">
            <div class="space-y-6">
                <h5 class="text-xl font-medium text-gray-900 dark:text-white">Printing Price Calculator</h3>
                    <div>
                        <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Paper Size</h3>
                        <ul
                            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="paper_size" id="horizontal-list-radio-short" type="radio"
                                        value="Short" name="paper_size"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-short"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Short
                                    </label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="paper_size" id="horizontal-list-radio-long" type="radio"
                                        value="Long" name="paper_size"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-long"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Long</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="paper_size" id="horizontal-list-radio-a4" type="radio" value="A4"
                                        name="paper_size"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-a4"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">A4</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="paper_size" id="horizontal-list-radio-photo-paper" type="radio"
                                        value="Photo Paper" name="paper_size"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-photo-paper"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Photo
                                        Paper</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">B&W / Colored</h3>
                        <ul
                            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="bw_or_colored" id="horizontal-list-radio-bw" type="radio" value="BW"
                                        name="bw_or_colored"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-bw"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">B&W</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="bw_or_colored" id="horizontal-list-radio-colored" type="radio"
                                        value="Colored" name="bw_or_colored"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="horizontal-list-radio-colored"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Colored</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div v-if="bw_or_colored == 'Colored'">
                        <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Graphics Content</h3>
                        <ul
                            class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex dark:bg-gray-700 dark:border-gray-600 dark:text-white">
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="graphics_content" id="graphics-content-25" type="radio" value="25"
                                        name="graphics_content"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="graphics-content-25"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">25%</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="graphics_content" id="graphics-content-50" type="radio" value="50"
                                        name="graphics_content"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="graphics-content-50"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">50%</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="graphics_content" id="graphics-content-75" type="radio" value="75"
                                        name="graphics_content"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="graphics-content-75"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">75%</label>
                                </div>
                            </li>
                            <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r dark:border-gray-600">
                                <div class="flex items-center pl-3">
                                    <input v-model="graphics_content" id="graphics-content-100" type="radio" value="100"
                                        name="graphics_content"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="graphics-content-100"
                                        class="w-full py-3 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">100%</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Number of Pages</h3>
                        <input v-model="number_of_pages" type="number" name="number_of_pages" id="number_of_pages"
                            class="bg-gray-50 border dark:bg-gray-800 dark:text-white border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                            placeholder="" required>
                    </div>
                    <div>
                        <small class="text-gray-900 dark:text-white">Price per page: {{ price }}</small>
                        <h3 class="mb-2 font-semibold text-gray-900 dark:text-white">Price: {{ print_price }}</h3>
                    </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var app3 = new Vue({
        el: '#app',
        data: {
            price: 1,
            paper_size: 'Short',
            bw_or_colored: 'BW',
            graphics_content: 0,
            number_of_pages: 0
        },
        computed: {
            print_price() {
                // check number of pages and set the price accordingly
                if (this.number_of_pages < 10) {
                    this.price = 3;
                } else {
                    this.price = 1;
                }

                //check paper color
                if (this.bw_or_colored == "Colored") {
                    this.price += 1;
                }

                // check graphics content
                if (this.graphics_content == 25) {
                    this.price = 8;
                } else if (this.graphics_content == 50) {
                    this.price = 12;
                } else if (this.graphics_content == 75) {
                    this.price = 15;
                } else if (this.graphics_content == 100) {
                    this.price = 18;
                }

                // check paper size
                if (this.paper_size == "Photo Paper") {
                    this.price = 25;
                } else if (this.paper_size == "Long" || this.paper_size == "A4") {
                    this.price += 1;
                }

                return this.price * this.number_of_pages;
            }
        }
    })
</script>

</html>